<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ws" sendTimeout="00:01:11"> 
          <reliableSession enabled="True" ordered="true" /> 
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    
    <netTcpBinding>
      <binding name="nettcp"> 
        <reliableSession enabled="True" ordered="true" /> 
        <security mode="None" />
      </binding>
    </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>