<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteHosts" value="localhost" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      
      <wsHttpBinding>
        <binding name="wsHttpBinding"> 
          <reliableSession enabled="True" ordered="true" /> 
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    
      <netTcpBinding>
        <binding name="nettcp"> 
          <security mode="None" />
        </binding>
      </netTcpBinding>
      
      <basicHttpBinding>
        <binding name="basicHttp">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      
    </bindings>

  </system.serviceModel>
</configuration>